<p>
	<fieldset>
		<div class="control-group">
			<%= f.label :name ,:class =>'control-label' %>
			<div class="controls">
				<%= f.text_field :name, :class =>'text_field', :disabled => (!f.object.id.nil?) %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :stop_name, "Name" ,:class =>'control-label' %>
			<div class="controls">
			<%= f.text_field :stop_name,  :class =>'text_field'%>
			</div>
			<%= f.hidden_field :stop_lon %>
			<%= f.hidden_field :stop_lat %>
			<%= f.hidden_field :stop_id %>
		</div>
		<% if (show_category) %>
			<div class="control-group">
				<%= f.label :category ,:class =>'control-label' %>
				<div class="controls">
					<%= f.select :category, Node.all_categories, {}, {:onchange => "show_category_description()"} %>
					<label id = "category_description"> Nieghbouhood, District </label>
				</div>
			</div>
		<% end %>
	<%= f.hidden_field :path %>
	<%= f.hidden_field :id %>
	</fieldset>
</p>
