<body id="bodyId" onload="editRoutes();prepare_form()">
	<div id="map_canvas" style="width:100%; height:100%"></div>
	<div class="container">
		<div class="row">
			<div class="span9">
				<br/>
				<div class="alert alert-info">
				    <button class="close" data-dismiss="alert">×</button>
				    <strong>Notice: </strong>You are not allowed to delete any of the route's stops
			    </div>
				<%if(!notice.nil?)%>
					<br/>
					<div class="alert alert-info">
					    <button class="close" data-dismiss="alert">×</button>
					    <%= notice %>
				    </div>
			    <%end%>
				<%= form_for @route, "routes/apply_changes", :html => { :class => 'well form-horizontal' } do |f_route| %>
				<div id="sub_routes">
					<%= f_route.fields_for :sub_routes , :html => { :class => 'form-horizontal'} do |f_sub_routes|%>
						<%= render "sub_route_fields", :f => f_sub_routes %>
					<%end%>
					<br/>
				</div>
				<div>
					<fieldset>
						<div class="control-group">
							<%= f_route.label :trans_category, "Transportation" ,:class =>'control-label'%>
							<div class="controls">
							 <%= f_route.text_field :trans_category, :class =>'text_field', :disabled => true%>
							</div>
						</div>
						<div class="control-group">
							<%= f_route.label :trans_description ,:class =>'control-label'%>
							<div class="controls">
								 <%= f_route.text_field :trans_description ,:class =>'text_field', :disabled => true %>
							</div>
						</div>
						<div class="control-group">
							<%= f_route.label :cost, "Cost",:class =>'control-label' %>
							<div class="controls">
								 <%= f_route.text_field :cost, :value => "#{@route.cost} LE", :class =>'text_field', :disabled => true%>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-actions">
					<%javascript_tag do%>
						window.sub_route_element = <%= get_stop(f_route)%>;
					<%end%>
					<%= f_route.submit(:onclick => "fillPaths();",:class =>'btn btn-small btn-primary')  %>
					<%= link_to "Cancel", :back, :class => "btn" %>
				</div>
				<%end%>
				<br/>
			</div>
		</div>
	</div>
</body>
<%= javascript_tag do %>
window.routeStops = <%= raw @route.sub_routes.to_json(
  :include => {
  :dest => {:only =>[:path, :name]}
  },
  :only => {} ) %>;
<% end %>
<%= javascript_tag do %>
window.nodes = <%= raw Node.search(:category_eq => "District").all.to_json(:only => [:name, :path, :id] ) %>;
<% end %>